@{
    ViewData["Title"] = "Home Page";

}

<div>
    <form method="post" action=@Url.Action("Test")>
        <div class="form-group">
            <label for="merchantId">MerchantId</label>
            <input type="text" class="form-control" id="merchantId" name="MerchantId" placeholder="" value="764764000009347">
        </div>
        <div class="form-group">
            <label for="merchantId">InvoiceNo</label>
            <input type="text" class="form-control" id="invoiceNo" name="InvoiceNo" placeholder="" value=@ViewData["InvoiceNo"]>
        </div>
        <div class="form-group">
            <label for="amount">Amount</label>
            <input type="number" class="form-control" id="amount" name="Amount" placeholder="" value="5000">
        </div>
        <div class="form-group">
            <label for="currency">Currency</label>
            <input type="text" class="form-control" id="currency" name="CurrencyCode" placeholder="" value="THB">
        </div>
        <input type="submit" value="Pay" />
    </form>
</div>

<div class="text-center">
    @ViewData["paymentResponse"]
</div>

<div class="text-center">
</div>